@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Harbour-Medium.otf);
  }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    padding: 1vw;
    font-family: 'Anonymous Pro', monospace;
    background: black;
    color: white;
    font-size: 12px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

li{
    list-style-type: square
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-gap: 20px;
    padding: 20px;
    border: 1px solid white;
    height: 97vh;
}

.wrapper>div{
    border: 1px solid white;
    padding: 20px;
}


.menu{
    position: relative;
    padding: 0 20px;
}
.menu>li{
    margin: 10px 0px;
}

.home>a:hover{
    font-style: italic;
    text-decoration: underline;
}

.sub{
    padding: 0px 20px;
}
.sub>li{
    padding: 0 0 10px;
}
.sub>li>a:hover{
    font-style: italic;
    text-decoration: underline;
}

.main{
    text-align: left;
    overflow-x: hidden;
    overflow-y: scroll;
}

.titleMain{
    font-family: myFirstFont,'Anonymous Pro';
    font-size: 32px;
    position: fixed;
}

.mainContent{
    font-family: 'Anonymous Pro';
    font-size: 12px;
    text-align: left;
    width: 50%;
    margin: 0 auto;
}

.box{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}